body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.background{
	background-color: #2F3E49;
	height: 360px;
}

.background .titulo{
	color: #FF7800;
	font-weight: bold;
	font-size: 26px;
	float: left;
}

.background .tiempo{
	color: #FF7800;
	float: right;
	padding-right: 20px;
	display: none;
}

.background .punteo{
	color: #FF7800;
	float: right;
	display: none;
}

.contenedor{
	height: 230px;
	background-color: #fff;
	border: 3px solid #ede7f6;
	border: 0px solid #000000;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
	overflow: hidden;
}

h5.usuarioLogin{
	color: #fff;
	font-weight: normal;
	float: left;
	font-size: 18px;
}

h5.vidas{
	color: #fff;
	float: right;
}

.welcome{
	background-color: #8A4BC0;
	padding: 4px 8px;
	text-align: center;
	color: #fff;
	margin: 0px;
}

.contenedor a.botonSel{
	width: 250px;
	opacity: .8;
	margin: 5px auto;
	text-align: center;
}

.botonSel{
	background-color: #0294D6;
	color: #fff;
}

.botonSel:hover{
	background-color: #0D6B93;
	color: #fff;
}

.lasPreguntas{
	height: 230px;
	/*background-color: #fff;*/
	border: 3px solid #ede7f6;
	border: 0px solid #000000;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
	overflow: hidden;
}

.laPregunta{
	padding: 15px 25px 10px;
	color: #2F3E49;
}

.respuestasWrapper{
	padding: 0px 10px 0px 10px;
	text-align: center;
}

.respuestasWrapper a{
	margin: 5px 0;
	width: 100%;
}

.elFinal{
	text-align: center;
}

.mensajeFinal{
	padding: 15px;
	background-color: #0098DA;
	color: #fff;
	font-size: 28px;
}
